{% trans_default_domain 'FOSUserBundle' %}
<div class="ui form segment">
    {{ form(form, {'action': path('fos_user_registration_register'), 'method': 'POST', 'attr': {'novalidate': 'novalidate'} }) }}
</div>
